<app-barra></app-barra>

<div id = "superior">
  <ngx-codemirror
  [options] = "editorQueryOptions"
  [(ngModel)] = "querys"
  (ngModelChange)="setEditorContent()">
</ngx-codemirror>
</div>

<div id = "inferior">
  <div id = "izquierda">
    <ngx-codemirror
    [options] = "codeMirrorOptions"
    [(ngModel)]="obj"
    (ngModelChange)="setEditorContent()">
  </ngx-codemirror>
  </div>
  <div id = "derecha">
    <ngx-codemirror
    [options] = "codeMirrorOptions"
    [(ngModel)]="obj"
    (ngModelChange)="setEditorContent()">
  </ngx-codemirror>
  </div>
</div>