<div id = "barra">
  <mat-toolbar color = "warn">
    <span>Tytus X</span>

    <div class = "spacer"></div>

    <button mat-raised-button color = "accent" [matMenuTriggerFor] = "archivo">Archivo</button>
    <mat-menu #archivo = "matMenu">
        <button mat-menu-item>
            <mat-icon>attach_file</mat-icon>
            <label for = "file">Abrir XML</label>
            <input type = "file"
            id = "file"
            class = "hidend"
            (change) = "abrirXML($event.target.files)">
        </button>
        <button mat-menu-item>
            <mat-icon>attach_file</mat-icon>
            <span>Abrir XPath</span>
        </button>
        <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Limpiar</span>
        </button>
    </mat-menu>

    <button mat-raised-button color = "accent" [matMenuTriggerFor] = "ejecutar">Ejecutar</button>
    <mat-menu #ejecutar = "matMenu">
        <button mat-menu-item (click) = "ejecutarAscendente()">
            <mat-icon>keyboard_arrow_up</mat-icon>
            <span>Ascendete</span>
        </button>
        <button mat-menu-item>
            <mat-icon>keyboard_arrow_down</mat-icon>
            <span>Descendente</span>
        </button>
    </mat-menu>

    <button mat-raised-button color = "accent" [matMenuTriggerFor] = "reporte">Reportes</button>
    <mat-menu #reporte = "matMenu">
        <button mat-menu-item>
            <span>...</span>
        </button>
    </mat-menu>
</mat-toolbar>
</div>

<div id = "superior">
  <ngx-codemirror
    [options] = "editorQueryOptions"
    [(ngModel)] = "querys">
  </ngx-codemirror>
</div>

<div id = "separador1"></div>

<div id = "inferior">
  <div id = "izquierda">
    <ngx-codemirror
      [options] = "editorXMLEntradaOptions"
      [(ngModel)] = "xmlEntrada">
    </ngx-codemirror>
  </div>
  <div id = "separador2"></div>
  <div id = "derecha">
    <ngx-codemirror
      [options] = "editorXMLSalidaOptions"
      [(ngModel)] = "xmlSalida">
    </ngx-codemirror>
  </div> 
</div>