<mat-toolbar color = "primary">
    <span>Tytus X</span>

    <div class = "spacer"></div>

    <button mat-stroked-button [matMenuTriggerFor] = "archivo">Archivo</button>
    <mat-menu #archivo = "matMenu">
        <button mat-menu-item>
            <mat-icon>attach_file</mat-icon>
            <span>Abrir XML</span>
        </button>
        <button mat-menu-item>
            <mat-icon>attach_file</mat-icon>
            <span>Abrir XPath</span>
        </button>
        <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Limpiar</span>
        </button>
    </mat-menu>

    <button mat-stroked-button [matMenuTriggerFor] = "ejecutar">Ejecutar</button>
    <mat-menu #ejecutar = "matMenu">
        <button mat-menu-item>
            <mat-icon>keyboard_arrow_up</mat-icon>
            <span>Ascendete</span>
        </button>
        <button mat-menu-item>
            <mat-icon>keyboard_arrow_down</mat-icon>
            <span>Descendente</span>
        </button>
    </mat-menu>

    <button mat-stroked-button [matMenuTriggerFor] = "reporte">Reportes</button>
    <mat-menu #reporte = "matMenu">
        <button mat-menu-item>
            <span>...</span>
        </button>
    </mat-menu>
</mat-toolbar>